@model MusicMakerProgram.Models.Admin

<h3 class="text-center">What you you like to manage?</h3>

<br>
<div>
    <div class="form-group row col-8 offset-3">
        <div class="col">
            <a asp-action="ManageClasses" asp-route-Id="@Model.AdminID" class="btn btn-primary btn-lg ">Manage Classes</a>
        </div>
        <div class="col">
            <a asp-action="ManageTeams" asp-route-Id="@Model.AdminID" class="btn btn-primary btn-lg">Manage Teams</a>
        </div>
    </div>

    <br>

    <div class="form-group row col-8 offset-3">
        <div class="col">
            <a asp-action="ManagePieces" asp-route-Id="@Model.AdminID" class="btn btn-primary btn-lg">Manage Pieces</a>
        </div>
        <div class="col">
            <a asp-action="ManagePerformances" asp-route-Id="@Model.AdminID" class="btn btn-primary btn-lg">Manage Performances</a>
        </div>
    </div>
</div>