@model MusicMakerProgram.Models.Composer

<div class="containter p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Composer</h2>
        </div>
    </div>
    <br />

        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Composer Name</th>
                    <th>Period</th>
                    <th>Bio</th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td width="30%">@Model.CName</td>
                        <td width="30%">@Model.Period</td>
                        <td width="30%">@Model.Bio</td>
                    </tr>
                
            </tbody>
        </table>
</div>