@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Music Program Maker</h1>
</div>
</br>
<div class="col-6 offset-4">
    <a asp-controller="Guest" asp-action="Index" class="btn btn-primary">Guest</a>
    <a asp-controller="Admin" asp-action="Index" class="btn btn-primary">Admin</a>
    <a asp-controller="Performer" asp-action="Index" class="btn btn-primary">Performer</a>
    <a asp-controller="Teacher" asp-action="Index" class="btn btn-primary">Teacher</a>
</div>