@model MusicMakerProgram.Models.Knows

<form method="post" asp-action="Create">
    <div class="border p-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <h2 class="text-black-50 p1-3">Assign Piece</h2>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="PieceID"></label>
                    </div>
                    <div class="col-4">
                    </div>
                    <div class="form-group row col-12">
                        <div class="col-4">
                            <input asp-for="PieceID" class="form-control" />
                            <span asp-validation-for="PieceID" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row col-12">
                        <div class="col-8 offset-2 row">
                            <div class="col">
                                <input type="submit" class="btn btn-info w-75" value="create" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


