@model IEnumerable<MusicMakerProgram.Models.Performer>


<div class="containter p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Student List</h2>
        </div>
    </div>
    <br />

    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Student Name</th>
                    <th>Level</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var perf in Model)
                {
                    <tr>
                        <td width="50%">
                            <a asp-controller="Teacher" asp-action="AssignPiece" asp-route-ID="@perf.PerformerID " class="btn btn-primary w-50">@perf.Name</a>
                        </td>
                        <td width="50%">@perf.LevelID</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No Students in DB</p>
    }
</div>